<template>
  <div class="right">
     here is the test component twelvethTest
  </div>
</template>

export default  {
    name: "twelvethTest",
    props: [],
    mounted() {
      
    },
    data() {
      return {
        test: null
      }
    },
    methods: {
     
    },
    computed: {
  
    }
}

<style>
</style>